.krasniy{
   background-color: red; 
   width: 200px;
   height: 40px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.h1{
   font-size: 25px;
   text-align: center;
 
   
}
.div-4{
   display: flex;
   justify-content: center;
   gap: 65px;
}
.feg{
    padding-top: 68px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.cvadrat{
    background-color: #343C56;
    border-radius: 40px;
    padding-bottom: 79px;
}
.div{
    background-color: black;
    color: white;
    width: 264px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 41px;
}
.card{
    width: 300px;
    background-color: #61FF00;
    ;
}

